<header>
    <img src="assets/planet-logo.png" alt="Planet Logo" class="logo">
    <div class="header-content">
        <h2 class="header-title">Plan it. Plant it. For the Planet.</h2>
        <ng-container *ngIf="signedIn(); else notSignedIn">
            <button class="custom-button" (click)="signOut()">Sign-out</button>
        </ng-container>
        <ng-template #notSignedIn>
            <button class="custom-button" (click)="signIn()">
                Sign-in
            </button>
        </ng-template>
    </div>
</header>
<main>
    <section style="padding: 20px;">
        <!-- Uncomment and add content as needed -->

        <ng-container *ngIf="signedIn()">
            <app-table />

            <button class="custom-button" (click)="openModal()">
                Add an entry
            </button>
        </ng-container>
    </section>
</main>

